<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="Brushless_drive"/>
      <dir
        name="CODE"/>
      <dir
        name="Libraries">
        <dir
          name="infineon_libraries">
          <dir
            name="Configurations"/>
          <dir
            name="Infra">
            <dir
              name="Platform">
              <dir
                name="Tricore">
                <dir
                  name="Compilers"/>
              </dir>
            </dir>
            <dir
              name="Sfr">
              <dir
                name="TC26B">
                <dir
                  name="_Reg"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="Service">
            <dir
              name="CpuGeneric">
              <dir
                name="If">
                <dir
                  name="Ccu6If"/>
              </dir>
              <dir
                name="StdIf"/>
              <dir
                name="SysSe">
                <dir
                  name="Bsp"/>
                <dir
                  name="Comm"/>
                <dir
                  name="General"/>
                <dir
                  name="Math"/>
                <dir
                  name="Time"/>
              </dir>
              <dir
                name="_Utilities"/>
            </dir>
          </dir>
          <dir
            name="iLLD">
            <dir
              name="TC26B">
              <dir
                name="Tricore">
                <dir
                  name="Asclin">
                  <dir
                    name="Asc"/>
                  <dir
                    name="Lin"/>
                  <dir
                    name="Spi"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Ccu6">
                  <dir
                    name="Icu"/>
                  <dir
                    name="PwmBc"/>
                  <dir
                    name="PwmHl"/>
                  <dir
                    name="Std"/>
                  <dir
                    name="TPwm"/>
                  <dir
                    name="Timer"/>
                  <dir
                    name="TimerWithTrigger"/>
                </dir>
                <dir
                  name="Cif">
                  <dir
                    name="Cam"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Cpu">
                  <dir
                    name="CStart"/>
                  <dir
                    name="Irq"/>
                  <dir
                    name="Std"/>
                  <dir
                    name="Trap"/>
                </dir>
                <dir
                  name="Dma">
                  <dir
                    name="Dma"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Dsadc">
                  <dir
                    name="Dsadc"/>
                  <dir
                    name="Rdc"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Dts">
                  <dir
                    name="Dts"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Emem">
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Eray">
                  <dir
                    name="Eray"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Eth">
                  <dir
                    name="Phy_Pef7071"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Fce">
                  <dir
                    name="Crc"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Fft">
                  <dir
                    name="Fft"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Flash">
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Gpt12">
                  <dir
                    name="IncrEnc"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Gtm">
                  <dir
                    name="Atom">
                    <dir
                      name="Pwm"/>
                    <dir
                      name="PwmHl"/>
                    <dir
                      name="Timer"/>
                  </dir>
                  <dir
                    name="Std"/>
                  <dir
                    name="Tim">
                    <dir
                      name="In"/>
                  </dir>
                  <dir
                    name="Tom">
                    <dir
                      name="Pwm"/>
                    <dir
                      name="PwmHl"/>
                    <dir
                      name="Timer"/>
                  </dir>
                  <dir
                    name="Trig"/>
                </dir>
                <dir
                  name="Hssl">
                  <dir
                    name="Hssl"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="I2c">
                  <dir
                    name="I2c"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Iom">
                  <dir
                    name="Driver"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Msc">
                  <dir
                    name="Msc"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Mtu">
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Multican">
                  <dir
                    name="Can"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Port">
                  <dir
                    name="Io"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Psi5">
                  <dir
                    name="Psi5"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Psi5s">
                  <dir
                    name="Psi5s"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Qspi">
                  <dir
                    name="SpiMaster"/>
                  <dir
                    name="SpiSlave"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Scu">
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Sent">
                  <dir
                    name="Sent"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Smu">
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Src">
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="Stm">
                  <dir
                    name="Std"/>
                  <dir
                    name="Timer"/>
                </dir>
                <dir
                  name="Vadc">
                  <dir
                    name="Adc"/>
                  <dir
                    name="Std"/>
                </dir>
                <dir
                  name="_Build"/>
                <dir
                  name="_Impl"/>
                <dir
                  name="_Lib">
                  <dir
                    name="DataHandling"/>
                  <dir
                    name="InternalMux"/>
                </dir>
                <dir
                  name="_PinMap"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="seekfree_libraries">
          <dir
            name="common"/>
        </dir>
        <dir
          name="seekfree_peripheral"/>
      </dir>
      <dir
        name="USER"/>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Microsoft Visual C++"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    merge_multiple_function_definitions="false"
    warning_level="NoWarnings"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
